/* ------ Default ------ */
html{
    font-family: verdana, arial, sans-serif
}
body{
    margin: 0 auto;
    margin-top: 0;
    border: 2px none #555577;
    border-radius:  10px;
    min-height: 500px;
    color: #222255;
    background-color:  white;
    background-image: url(/assets/cvark_blur.png);
    background-size: 100% auto;
}

.header-wrapper
{
    position: fixed;
    width: 50%;
    height: 100%;
    margin-left: 10%;
}

.title-text
{
    background-image: url(/assets/header.png);
    padding-top: 15%;
    margin-bottom: 10%;
}
.about-text
{
    background-image: url(/assets/about.png);
}

.projects-text
{
    background-image: url(/assets/projects.png);
}

.contact-text
{
    background-image: url(/assets/contact.png);
}

.contact-text, .projects-text, .about-text, .title-text
{
    color: rgba(250, 20, 20, 0.0);
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-filter: drop-shadow(2px 2px 1px rgba(20,20,20,0.5));
    filter: drop-shadow(2px 2px 1px rgba(20,20,20,0.5));
}

.contact-text, .projects-text, .about-text
{
    padding-top: 3%;
    margin-top: 4%;
    margin-left: 5%;   
}

/* ------ Contact ------ */
.contact-link {
    background-color: #ddddee;
    width: 300px;
    float: left;
    border-radius: 10px;
}
a.contact-link {
    text-decoration: none;
    color: #222233;
}
a:visited.contact-link {
    color: #222233;
}
a:hover.contact-link {
    background-color: #aaaabb;
}

.twitter-item img{
    vertical-align: middle;
    height: 50px;
    margin: 20px;
}