/* ------ Default ------ */
html{
    font-family: verdana, arial, sans-serif
}
body{
    margin: 0 auto;
    margin-top: 0;
    border: 2px none #555577;
    min-height: 500px;
    color: #222255;
    background-color:  white;
    background-image: url(/assets/cvark_blur.png);
    background-size: 100% auto;
}

.body-wrapper
{
    margin: 0 auto;
    width:70%;
}

/* ------ Header ------ */
.header-wrapper
{
    position: fixed;
    width: 50%;
    height: 100%;
}

.title-image
{
    background-image: url(/assets/header.png);
    padding-top: 15%;
    margin-bottom: 10%;
}
.about-button
{
    background-image: url(/assets/about.png);
}

.projects-button
{
    background-image: url(/assets/projects.png);
}

.contact-button
{
    background-image: url(/assets/contact.png);
}

.contact-button, .projects-button, .about-button, .title-image
{
    color: rgba(250, 20, 20, 0.0);
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-filter: drop-shadow(2px 2px 1px rgba(20,20,20,0.5));
    filter: drop-shadow(2px 2px 1px rgba(20,20,20,0.5));
}

.contact-button, .projects-button, .about-button
{
    padding-top: 3%;
    margin-top: 4%;
    margin-left: 5%;   
}


/* ------ Content ------ */
.content-wrapper
{
    width: 60%;
    float: right;
    background-color: rgba(220, 220, 220,0.25);
    margin-top: 20px;
    padding: 0 5%;
}

p, h1, h2, h3
{
    color: #220011;
    text-shadow: 1px 1px 1px rgba(20,20,20,0.5);
}


/* ------ TWitter ------ */

a:visited.contact-link {
    color: #222233;
}
a:hover.contact-link {
    background-color: #aaaabb;
}

.twitter-item img{
    vertical-align: middle;
    height: 50px;
    margin: 20px;
}