<!DOCTYPE html>
<html lang="en-ca">

<head>
    <meta charset="uft-8">
    <link href="/css/common.css" rel="stylesheet">
    <title="Raphael Heidrich - Portfolio">
</head>

<body>

    <div class="body-wrapper">
            <div class="header-wrapper">
            <a class="title-image"> Raphael Heidrich</a>
            <a class="about-button" href="/#about">About</a>
            <a class="projects-button" href="/#projects">Projects</a>
            <a class="contact-button" href="/#contact">Contact</a>
        </div>
        <div class="content-wrapper">
            <a id="about"></a>
            <div class="about-content">
            <h3>About</h3>
            <p class="about-text">
                My name is Raphael Heidrich and I am a software developer for visual computing from Germany.<br>
                <strong> Title: </strong> Bachlor of Science (master thesis WIP) <br>
                <strong> From: </strong> Koblenz <br>
                <strong> Age: </strong> 26 <br>  
                <strong> Interests: </strong> 3D rendering, software development, 2D animation, video games and stupid jokes.  <br>
                <strong> Skills: </strong> OpenGL, C#, C++, OpenGL Shading Language, Unity, 3D-modelling Compute Shader, GPGPU, Blender, Git, SWIFT, OpenCV, Java, MatLab, Linear Algebra, Image Processing, Adobe Flash <br>
            </p> 
            </div>
        </div>
    </div>

</body>

</html>